.results {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid yellow;
}

.list-items {
	list-style-type: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: whitesmoke;
	text-shadow: green;
}

.random {
	flex-basis: 10px;
}
